/* General Body/Default View CSS Start */

h1 {
  font-size: 3.8vw;
  position: relative;
  margin-top: 1%;
  margin-bottom: 1%;
}

#internal-content {
  box-sizing: border-box;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color, black);
  border-radius: 75px;
  position: absolute;
  min-height: 80vh;
  width: 85%;
  top: 10%;
  left: 7.5%;
  max-height: 80vh;
  overflow: auto;
  font-size: larger;
}

/* To hide scrollbar */

#internal-content::-webkit-scrollbar {
  display: none;
}

/* Styling for exterior buttons (menu, zoom out, help)
   Gets rid of the border and background on them.
   Adding grey out hover feature. */

.global-icons button {
  border: none;
  background: var(--bg-color, white);
  color: var(--color, black);
}

#menu-button {
  left: 2.4%;
  top: 4%;
}

#zoom-out-button {
  right: 2.4%;
  top: 4%;
}

#last-entry-back {
  left: 2.4%;
  bottom: 4%;
}

#prev-day {
  left: 33%;
  bottom: 1.5%;
}

#next-day {
  right: 33%;
  bottom: 1.5%;
}

#last-entry-forward {
  right: 2.4%;
  bottom: 4%;
}

#menu-button,
#zoom-out-button,
#last-entry-back,
#prev-day,
#next-day,
#last-entry-forward {
  position: absolute;
  font-size: 0.8vw;
  border-radius: 30px;
  width: 4%;
  height: 7%;
}

#zoom-out-button:hover {
  background-color: var(--bg-button-color, lightgray);
}

nav.navigation {
  display: none;
}

/* This will keep the daily screen open and viewable.
This block may not be necessary as it's the default on the page
¯\_(ツ)_/¯ */

div.daily {
  display: block;
  margin-left: 7.5%;
  margin-top: 2%;
  margin-right: 7.5%;
  margin-bottom: 2%;
}

div.slider-div {
  display: flex;
  flex-direction: row;
}

/* This hides the monthly screen, so only the daily log is seen */

div.monthly {
  display: none;
  margin-left: 7.5%;
  margin-top: 2%;
  margin-right: 7.5%;
}

/* This sets the size of the canvas elements that hold the tracker charts in the monthly log */
div.monthly .chart {
  min-height: 400px;
  max-height: 400px;
  min-width: 400px;
  max-width: 400px;
}

fieldset {
  border: 0;
}

/* This hides the yearly screen, so only the daily log is seen */

div.yearly {
  display: none;
  margin-left: 7.5%;
  margin-top: 2%;
  margin-right: 7.5%;
  margin-bottom: 2%;
}

/* This hides the yearly icons, so the proper icons are displayed */

div.icons-for-yearly {
  display: none;
}

/* This is the formatting for the div header for the daily log screen.
Primarily keeps the header and buttons in the same line */

section.header {
  display: flex;
  margin-bottom: 2%;
}

section.header h1 {
  position: inherit;
  margin-right: 4%;
}

section.header button {
  position: relative;
  margin-right: 4%;
  border: none;
  background: none;
  height: 0%;
  padding: 1%;
  margin-top: 1.8%;
  border-radius: 30px;
  font-size: 0.8vw;
  color: var(--color, black);
}

/* Add a background color on hover */
.global-icons button:hover {
  background: var(--bg-button-color);
  cursor: pointer;
}

section.header button:hover {
  background-color: var(--bg-button-color, lightgray);
  cursor: pointer; /* Pointer/hand icon */
}

/* Styling for the font size of the icons. Can be overriden with a media query to change size of the icons */

.icon-size {
  font-size: 350%;
}

@media only screen and (max-width: 550px) {
  section.header {
    display: block;
  }

  .icon-size {
    font-size: 250%;
  }

  .plus-right {
    margin-left: 40%;
  }
}

.log {
  display: inline-block;
  border: 2px solid;
  border-color: var(--border-color, black);
  border-radius: 30px;
  min-height: 30%;
  padding-left: 2%;
  padding-bottom: 1%;
  width: 97.5%;
}

.new-bullet {
  size: 10px;
  position: relative;
  left: 2.4vw;
  border-radius: 25%;
  background: none;
  border: none;
  color: var(--color, black);
}

.new-bullet:hover {
  background-color: var(--new-bullet-bg, rgb(241, 241, 241));
  color: #3c3;
  cursor: pointer;
}

[contenteditable] {
  outline: 0 solid transparent;
}

#index {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 40vw;
  height: 100%;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: var(--color, black);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: -42vw;
  transition: all 500ms linear;
}

#index-content * {
  padding: 5px  10px;
}

#close-index {
  float: right;
  background: none;
  border: none;
  color: red;
  visibility: hidden;
  position: relative;
  right: 1.5vw;
  top: 1vh;
  font-size: 2vw;
}

#close-index:hover {
  cursor: pointer;
  color: #bf0606;
}

#index.active {
  left: 0;
  opacity: 100%;
  background: var(--bg-color, white);
  color: var(--color, black);
}

#index #menu-button {
  position: absolute;
  font-size: medium;
  border-radius: 30px;
  width: 10%;
  height: 7%;
  left: 44vw;
  border: none;
  background: none;
  color: var(--color, black);
}

#index.active #menu-button {
  visibility: hidden;
}

#index.active #close-index {
  visibility: visible;
}

#index #menu-button:hover {
  background-color: var(--bg-button-color, lightgray);
  cursor: pointer;
}

div[id$='setting']:hover {
  cursor: pointer;
  background-color: var(--bg-button-color, rgb(241, 241, 241));
}

div[id$='setting']:active,
button[id$='setting']:active {
  background: var(--active-color, rgb(219, 219, 219));
}

.collapsible {
  font-size: 2.5vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  width: 38vw;
  border: none;
  text-align: left;
  outline: none;
  color: var(--color, black);
}

.active,
.collapsible:hover {
  background-color: var(--active-color, rgb(219, 219, 219));
}

.collapsible::after {
  position: relative;
  top: 0.4vh;
  content: '\002B';
  color: var(--color, black);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
  position: relative;
  top: 0.4vh;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--bg-color, white);
  border-radius: 15px;
  width: 95%;
}

.setting-item {
  color: var(--color, black);
}

.setting-option {
  font-size: 1.25vw;
  text-align: left;
  background: none;
  border: none;
  width: inherit;
  color: var(--color, black);
}

.setting-option:hover {
  cursor: pointer;
}

.content .setting-option:hover {
  background-color: var(--content-hover, rgba(236, 236, 236, 0.911));
  border-radius: 15px;
}

#verdana {
  font-family: 'Verdana', sans-serif;
}

#default-font {
  font-family: 'Times New Roman', serif;
}

#garamond {
  font-family: 'Garamond', serif;
}

#courier-new {
  font-family: 'Courier New', monospace;
}

#helvetica {
  font-family: 'Helvetica', sans-serif;
}

/* For the weather */

.container {
  width: 13vw;
  height: 5vw;
  background-color: transparent;
  display: block;
  margin: 0;
  margin-left: 1vw;
  padding-top: 0.2vw;
}

.notification {
  background-color: transparent;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  height: 0;
}

.weather-container {
  width: 13vw;
  height: 5vw;
  background-color: transparent;
}

.weather-icon {
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

.weather-icon img {
  display: block;
  margin: 0;
  width: 7.2vw;
  height: 7.2vw;
  position: relative;
  bottom: 2vw;
  right: 1vw;
  z-index: -1;
}

.temperature-value {
  display: inline-block;
  width: 7vw;
}

.temperature-value p {
  padding: 0.5vw;
  margin: 0;
  color: var(--color, black);
  font-size: 2.5vw;
  font-family: cursive;
  cursor: pointer;
  position: relative;
  top: 0.6vh;
  right: 0.2vw;
}

/* .temperature-value p:hover{

} */

.temperature-value span {
  color: var(--color, black);
  font-size: 1.5vw;
}

.temperature-description {
  width: 12vw;
  height: 2vw;
  position: relative;
  bottom: 1vw;
  right: 1vw;
}

.temperature-description p {
  margin: 0;
  color: var(--color, black);
  text-align: center;
  font-size: 1.5vw;
  font-family: cursive;
}

/* .location{

}

.location p{
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 0.8em;
} */

/* Styling for the icons in the tracker div for daily */

div.tracker div i {
  font-size: 1.5vw;
  align-self: center;
}

/* All styling necessary for the conext menu start */

#context-menu,
#label-menu {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  top: 1vh;
  left: 1.2vw;
  background: var(--context-menus, #fdfdfd);
  width: 7.5vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px var(--shadow-context, rgba(0, 0, 0, 0.05));
  transform: scale(0);
  transform-origin: top left;
  z-index: 2;
}

#context-menu.active,
#label-menu.active {
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

#context-menu .bullet-select,
#label-menu .label-select {
  border-bottom: 0.5px solid #eee;
}

#context-menu .bullet-select .bullet-option,
#label-menu .label-select .label-option {
  position: relative;
  padding: 0.25vw;
  padding-left: 0;
  font-size: 1vw;
  color: var(--content-text-color, #555);
  cursor: pointer;
}

#context-menu i,
#label-menu i {
  font-size: 0.75vw;
}

#context-menu .bullet-select .bullet-option i,
#label-menu .label-select .label-option i {
  display: inline-block;
  width: 1.5vw;
  margin-right: 5px;
  text-align: center;
}

#context-menu .bullet-select .bullet-option::before,
#label-menu .label-select .label-option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--context-bg, #eee);
  z-index: -1;
  transition: all 150ms ease-in-out;
}

#context-menu .bullet-select .bullet-option:hover::before,
#label-menu .label-select .label-option:hover::before {
  width: 100%;
}

.irrelevant {
  text-decoration: line-through;
}

/* All styling necessary for the conext menu end */

body {
  --bg-button-color: lightgray;
}

.delete-section {
  background-color: var(--delete-bg, #ebebeb);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color, black);
  border-radius: 3px;
  color: var(--color, black);
}

.delete-section:hover {
  background-color: var(--bullet-hover-bg, lightgray);
}

/* High Contrast mode stylin start */

.high-contrast-mode body {
  background: black;
  color: white;

  --bg-color: black;
  --color: white;
  --bullet-bg: #363636;
  --bullet-hover-bg: #363636;
  --bullet-point-color: white;
  --border-color: white;
  --label-add-bookmark: white;
  --plus-label: black;
  --bg-button-color: #2c2c2c;
  --new-bullet-bg: #2c2c2c;
  --context-menus: #242424;
  --shadow-context: rgba(255, 255, 255, 0.05);
  --context-bg: #2b2b2b;
  --content-text-color: #aaa;
  --active-color: #242424;
  --content-hover: rgba(19, 19, 19, 0.911);
  --delete-bg: #464545;
}

/* High Contrast styling end */

/* Solarized Dark styling start */

.solarized-dark-mode body {
  background: #002b36;
  color: #93a1a1;

  --color: #657b83;
  --border-color: #657b83;
  --bullet-point-color: #93a1a1;
  --bg-color: #002b36;
  --bullet-hover-bg: #073642;
  --label-add-bookmark: #839496;
  --plus-label: #073642;
  --bg-button-color: #003b4a;
  --new-bullet-bg: #003b4a;
  --context-menus: #073642;
  --shadow-context: rgba(255, 255, 255, 0.05);
  --context-bg: #003b4a;
  --content-text-color: #93a1a1;
  --active-color: #073642;
  --content-hover: #003b4a;
  --delete-bg: #073f4d;
}

/* Solarized Dark styling end */

#bujo-settings {
  align-self: center;
}

/* More styling for daily-log start */

section.trackers::-webkit-scrollbar {
  display: none;
}

div.daily section.trackers {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color, black);
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  width: 97.5%;
  height: 23vh;
  overflow: auto;
  padding-left: 1.5vw;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
}

div.daily h2 {
  font-size: 3vw;
}

div.daily section.trackers h2 {
  grid-area: header;
}

div.tracker {
  width: 100%;
  display: grid;
  grid-template-areas: "name input";
  align-content: center;
}

.numInput {
  height: 2.5vh;
  width: 14.5vw;
  align-self: center;
  justify-self: end;
  margin-right: 3.2vw;
}

#Exercise {
  align-self: center;
  justify-self: end;
  margin-right: 3.2vw;
}

div.tracker h3 {
  font-size: 1.5vw;
  display: inline-block;
  width: 15vw;
}

.slider-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 2vw;
  justify-self: end;
  padding-right: 3vw;
}

.slider {
  width: 12.5vw;
}

div.daily section[id$="00"] {
  display: inline-block;
  max-height: 25vh;
  overflow: auto;
}

/* More styling for daily-log end */

/* Styling for Yearly-Element start */

/* Sets up the grid areas for the entire yearly div */
.yearly {
  grid-template-areas:

    "header header"
    "calendar goals"
    "notes notes";
  grid-template-columns: 25vw 45vw;
  column-gap: 1vw;
}

/* assigns the #yearly-header to occupy the entire first row */

#yearly-header {
  grid-area: header;
}

/* Assigns #yearly-calendar to be in the second row, first column
  Also sets up the grid template for the buttons in the calendar
*/

#yearly-calendar {
  grid-area: calendar;
  border: 2px solid black;
  height: 20vh;
  border-radius: 25px;
  display: inline-grid;
  grid-template-columns: repeat(4, 23.5% [col-start]);
  padding-top: 1.25vh;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  row-gap: 0.25vh;
  column-gap: 0.5vw;
  grid-template-areas:

    "jan feb mar apr"
    "may jun jul aug"
    "sep oct nov dec";
}

/* Styling of the month buttons for the #yearly-calendar */

#yearly-calendar button {
  height: 5vh;
  width: 100%;
  border-radius: 10px;
  font-size: 1.25vw;
  border: 0.5px solid black;
  padding-top: 0.5px;
  background-color: rgb(250, 248, 248);
}

/* Styling of the month buttons for the #yearly-calendar on hover
  - color will change
  - cursor will also change
*/

#yearly-calendar button:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

/* Assigns the goals section in to the first row, second column */

div.yearly section[id$="00"] {
  grid-area: goals;
  display: inline;
  height: 20.65vh;
  font-size: 1.5vw;
  overflow: auto;
}

/* Assigns the notes section to the bottom row */

div.yearly section[id$="01"] {
  grid-area: notes;
  margin-top: 2vh;
  display: inline-block;
  font-size: 1.5vw;
}

/* Adding a scrollbar for overflow in the yearly goals section */

div.yearly section[id$="00"]::-webkit-scrollbar {
  display: none;
}

/* Styling for Yearly-Element end */

/* scrollbar for daily reminders is going here bc the linter is being picky */

div.daily section[id$="00"]::-webkit-scrollbar {
  display: none;
}
