/* General Body/Default View CSS Start */

* {
  font-family: cursive;
}

h1 {
  width: 50vw;
  font-size: 3.8vw;
  position: relative;
  font-family: 'Kaushan Script', cursive;
}

#internal-content {
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 75px;
  position: absolute;
  min-height: 80vh;
  width: 85%;
  top: 10vh;
  left: 7.5vw;
  max-height: 80vh;
  overflow: auto;
  font-size: larger;
}

#zoomOutTransition {
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 75px;
  position: absolute;
  min-height: 80vh;
  width: 85%;
  top: 10vh;
  left: 7.5vw;
  max-height: 80vh;
  opacity: 0;

  background-color: white;

  transform-origin: 20% 20%;

  z-index: -1;
}

/* animation classes for daily */
#zoomOutTransition.zoomOut1 {
  z-index: 1;
  animation: zoomOutDaily1 .15s ease-in-out 0s 1 normal forwards;
}
#zoomOutTransition.zoomOut2 {
  opacity: 1;
  z-index: 1;
  animation: zoomOutDaily2 .5s ease-out 0s 1 normal forwards;
}
#zoomOutTransition.zoomOut3 {
  opacity: 1;
  z-index: 1;
  animation: zoomOutDaily3 .25s ease-in-out 0s 1 normal forwards;
}

/* animation keyframes from daily */
@keyframes zoomOutDaily1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomOutDaily2 {
  from {
    transform: scale(1, 1) translate(0, 0);
  }
  to {
    transform: scale(.3, .36) translate(-4%, 21%);
  }
}

@keyframes zoomOutDaily3 {
  from {
    opacity: 1;
    transform: scale(.3, .36) translate(-4%, 21%);
  }
  to {
    opacity: 0;
    transform: scale(.3, .36) translate(-4%, 21%);
  }
}

#zoomOutTransition2 {
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 75px;
  position: absolute;
  min-height: 80vh;
  width: 85%;
  top: 10vh;
  left: 7.5vw;
  max-height: 80vh;
  opacity: 0;

  background-color: white;

  transform-origin: 10% 20%;

  z-index: -1;
}

/* animation classes for daily */
#zoomOutTransition2.zoomOut4 {
  z-index: 1;
  animation: zoomOutDaily4 .15s ease-in-out 0s 1 normal forwards;
}
#zoomOutTransition2.zoomOut5 {
  opacity: 1;
  z-index: 1;
  animation: zoomOutDaily5 .5s ease-out 0s 1 normal forwards;
}
#zoomOutTransition2.zoomOut6 {
  opacity: 1;
  z-index: 1;
  animation: zoomOutDaily6 .25s ease-in-out 0s 1 normal forwards;
}

/* animation keyframes from daily */
@keyframes zoomOutDaily4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomOutDaily5 {
  from {
    transform: scale(1, 1) translate(0, 0);
  }
  to {
    transform: scale(.294, .268) translate(2.5%, 32.5%);
  }
}

@keyframes zoomOutDaily6 {
  from {
    opacity: 1;
    transform: scale(.294, .269) translate(2.5%, 32.5%);
  }
  to {
    opacity: 0;
    transform: scale(.294, .269) translate(2.5%, 32.5%);
  }
}

/* To hide scrollbar */
#internal-content::-webkit-scrollbar {
  display: none;
}

/* Styling for exterior buttons (menu, zoom out, help)
   Gets rid of the border and background on them.
   Adding gey out hover feature. */

.global-icons button {
  border: none;
  background: none;
}

#menu-button {
  left: 2.4%;
  top: 4%;
}

#zoom-out-button {
  right: 2.4%;
  top: 4%;
}

#last-entry-back {
  left: 2.4%;
  bottom: 4%;
}

#prev-day {
  left: 33%;
  bottom: 1.5%;
}

#next-day {
  right: 33%;
  bottom: 1.5%;
}

#last-entry-forward {
  right: 2.4%;
  bottom: 4%;
}

#menu-button,
#zoom-out-button,
#last-entry-back,
#prev-day,
#next-day,
#last-entry-forward {
  position: absolute;
  font-size: 0.8vw;
  border-radius: 30px;
  width: 4%;
  height: 7%;
}

nav.navigation {
  display: none;
}

/* Tooltip hovering functionality */

/* #last-entry-back .last-entry-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
}
#last-entry-back:hover .last-entry-tooltip {
  visibility: visible;
} */

/* This will keep the daily screen open and viewable.
This block may not be necessary as it's the default on the page
¯\_(ツ)_/¯ */

#daily-header {
  margin-bottom: 4vh;
  align-content: center;

  position: relative;
  right: 2vw;
}

div.daily {
  display: block;
  margin-left: 7.5%;
  margin-top: 2%;
  margin-right: 7.5%;
  margin-bottom: 2%;
}

div.slider-div {
  display: flex;
  flex-direction: row;
}

/* This hides the monthly screen, so only the daily log is seen */

div.monthly {
  display: none;
  margin-left: 7.5%;
  margin-top: 1.5vh;
  margin-right: 7.5%;
  max-height: 70vh;
}

/* This sets the size of the canvas elements that hold the tracker charts in the monthly log */
div.monthly .chart {
  min-height: 32vh;
  max-height: 32vh;
  min-width: 30vw;
  max-width: 30vw;
}

fieldset {
  border: 0;
}

/* This hides the yearly screen, so only the daily log is seen */

div.yearly {
  display: none;
  margin-left: 7.5%;
  margin-top: 2%;
  margin-right: 7.5%;
  margin-bottom: 2%;
}

/* This hides the yearly icons, so the proper icons are displayed */

div.icons-for-yearly {
  display: none;
}

/* This is the formatting for the div header for the daily log screen.
Primarily keeps the header and buttons in the same line */

section.header {
  margin-bottom: 2%;
}

section.header h1 {
  position: relative;
  top: 1vh;
  margin-left: 10.5vw;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

section.header button {
  position: relative;

  /* right: 0; */
  margin-right: 4%;
  border: none;
  background: none;
  height: 0%;
  padding: 1%;
  margin-top: 1.8%;
  border-radius: 30px;
  font-size: 0.8vw;
}

section h2 {
  font-size: 2.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
}

/* Add a background color on hover */
.global-icons button:hover {
  background-color: lightgray;
  cursor: pointer;
}

section.header button:hover {
  background-color: lightgray;
  cursor: pointer; /* Pointer/hand icon */
}

/* Styling for the font size of the icons. Can be overriden with a media query to change size of the icons */

.icon-size {
  font-size: 350%;
}

@media only screen and (max-width: 550px) {
  section.header {
    display: block;
  }

  .icon-size {
    font-size: 250%;
  }

  .plus-right {
    margin-left: 40%;
  }
}

.bullet-point {
  font-size: 10px;
  border: none;
  background: none;
  float: left;
  padding-top: 0.9%;
}

.bullet-point:hover {
  font-size: 12px;
  position: relative;
  padding-top: 0.8%;
  right: 1px;
  width: 22px;
}

.bullet-text {
  display: inline-block;
  width: 65vw;
  font-size: larger;
  margin: 0;

  /* border: 5px solid black; */

  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.bullet {
  margin-left: 1%;
  margin-right: 12%;
  padding-left: 0.5%;
  padding-right: 1%;
}

.bullet:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

.bullet-delete {
  display: none;
  float: right;
  padding-top: 0.9%;
  border: none;
  background-color: transparent;
}

.bullet-delete:hover {
  font-size: 15px;
  position: relative;
  padding-top: 0.8%;
  left: 0.75px;
}

.bullet:hover .bullet-delete {
  display: inline-block;
}

.log {
  display: inline-block;
  border: 2px solid black;
  border-radius: 30px;
  min-height: 30%;

  /* padding-top: 10px; */
  padding-left: 2%;
  padding-bottom: 1%;
  width: 96%;
}

.new-bullet {
  size: 10px;
  position: relative;
  left: 2.45vw;
  border-radius: 25%;
  background: none;
  border: none;
}

.new-bullet:hover {
  background-color: rgb(241, 241, 241);
  color: #3c3;
}

[contenteditable] {
  outline: 0 solid transparent;
}

#index {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 40vw;
  height: 100%;
  border-right: 5px solid black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: -42vw;
  transition: all 500ms linear;
}

#index-content * {
  padding: 5px  10px;
}

#close-index {
  float: right;
  background: none;
  border: none;
  color: red;
  visibility: hidden;
  position: relative;
  right: 1.5vw;
  top: 1vh;
  font-size: 2vw;
}

#close-index:hover {
  cursor: pointer;
  color: #bf0606;
}

#index.active {
  left: 0;
  opacity: 100%;
  background: white;
}

#index #menu-button {
  position: absolute;
  font-size: medium;
  border-radius: 30px;
  width: 10%;
  height: 7%;
  left: 44vw;
  border: none;
  background: none;
}

#index.active #menu-button {
  visibility: hidden;
}

#index.active #close-index {
  visibility: visible;
}

#index #menu-button:hover {
  background-color: lightgray;
  cursor: pointer; /* Pointer/hand icon */
}

#search-bar {
  /* position: relative;
  top:5%;  */
  display: inline-block;

  /* font-size: 5vw; */
  margin: 0;
  width: 100%;
}

#search-input {
  width: 75%;
  padding: 5px;
}

#search-button {
  position: relative;
  top: 0.2vh;
  background: none;
  border: none;
  font-size: 1.5vw;
  padding: 0;
}

#search-button:hover {
  background: none;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  border-radius: 30px;
}

div[id$='setting']:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

div[id$='setting']:active,
button[id$='setting']:active {
  background: rgb(219, 219, 219);
}

.collapsible {
  font-size: 2.5vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: black;
  cursor: pointer;
  width: 96%;
  border: none;
  text-align: left;
  outline: none;
}

.active,
.collapsible:hover {
  background-color: rgb(219, 219, 219);
}

.collapsible::after {
  position: relative;
  top: 0.4vh;
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
  position: relative;
  top: 0.4vh;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border-radius: 15px;
  width: 95%;
}

.setting-option {
  font-size: 1.25vw;
  text-align: left;
  background: none;
  border: none;
  width: inherit;
}

.setting-option:hover {
  cursor: pointer;
}

.content .setting-option:hover {
  background-color: rgba(236, 236, 236, 0.911);
  border-radius: 15px;
}

#verdana {
  font-family: 'Verdana', sans-serif;
}

#default-font {
  font-family: 'Times New Roman', serif;
}

#garamond {
  font-family: 'Garamond', serif;
}

#courier-new {
  font-family: 'Courier New', monospace;
}

#helvetica {
  font-family: 'Helvetica', sans-serif;
}

/* For the weather */

.container {
  width: 13vw;
  height: 5vw;
  background-color: transparent;
  display: block;
  padding-top: 0.2vw;

  position: relative;
  left: 6vw;
}

.notification {
  background-color: transparent;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  height: 0;
}

.weather-container {
  width: 13vw;
  height: 5vw;
  background-color: transparent;
}

.weather-icon {
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

.weather-icon img {
  display: block;
  margin: 0;
  width: 7.2vw;
  height: 7.2vw;
  position: relative;
  bottom: 2vw;
  right: 1vw;
  z-index: -1;
}

.temperature-value {
  display: inline-block;
  width: 7vw;
}

.temperature-value p {
  padding: 0.5vw;
  margin: 0;
  color: black;
  font-size: 2.5vw;
  font-family: cursive;
  cursor: pointer;
  position: relative;
  bottom: 1vh;
  right: 0.2vw;
}

/* .temperature-value p:hover{

} */

.temperature-value span {
  color: black;
  font-size: 1.5vw;
}

.temperature-description {
  width: 12vw;
  height: 2vw;
  position: relative;
  bottom: 3vh;
  right: 1vw;
}

.temperature-description p {
  margin: 0;
  color: black;
  text-align: center;
  font-size: 1.5vw;
  font-family: cursive;
}

/* .location{

}

.location p{
  margin: 0;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 0.8em;
} */

/* Styling for the icons in the tracker div for daily */

div.tracker div i {
  font-size: 1.5vw;
  align-self: center;
}

/* All styling necessary for the conext menu start */

#context-menu,
#label-menu {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  top: 1vh;
  left: 1.2vw;
  background: #fdfdfd;
  width: 7.5vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05);
  transform: scale(0);
  transform-origin: top left;
  z-index: 2;
}

#context-menu.active,
#label-menu.active {
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

#context-menu .bullet-select,
#label-menu .label-select {
  border-bottom: 0.5px solid #eee;
}

#context-menu .bullet-select .bullet-option,
#label-menu .label-select .label-option {
  position: relative;
  padding: 0.25vw;
  padding-left: 0;
  font-size: 1vw;
  color: #555;
  cursor: pointer;
}

#context-menu i,
#label-menu i {
  font-size: 0.75vw;
}

#context-menu .bullet-select .bullet-option i,
#label-menu .label-select .label-option i {
  display: inline-block;
  width: 1.5vw;
  margin-right: 5px;
  text-align: center;
}

#context-menu .bullet-select .bullet-option::before,
#label-menu .label-select .label-option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #eee;
  z-index: -1;
  transition: all 150ms ease-in-out;
}

#context-menu .bullet-select .bullet-option:hover::before,
#label-menu .label-select .label-option:hover::before {
  width: 100%;
}

.irrelevant {
  text-decoration: line-through;
}

/* styling monthly */

#monthly-calendar {
  position: absolute;
  left: 10.8vw;
  top: 16vh;
  height: 27vh;
  width: 25vw;
  border: none;
}

#monthly-calendar button {
  width: 2vw;
  height: 4vh;
  padding: 0;
  margin-right: 0.65vw;
  margin-left: 0.65vw;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.4vw;
  text-align: center;
  position: relative;
  left: 1vw;
  top: 0;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#monthly-calendar button:hover {
  background-color: rgb(236, 236, 236);
}

.dates {
  display: flex;
  flex-direction: row;
  height: 4vh;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
}

#monthly-calendar .blank-button:hover {
  background-color: transparent;
}

h3.date-name {
  font-size: 1.3vw;
  text-align: center;
  width: 3vw;
  margin-top: 0.5vh;
  margin-bottom: 0;
  margin-left: 0.15vw;
  margin-right: 0.15vw;
  position: relative;
  left: 1vw;
}

#monthly-charts {
  box-sizing: border-box;
  min-height: 45vh;
  max-height: 45vh;
  width: 40vw;
  position: absolute;
  left: 47vw;
  bottom: 5vh;
  overflow: auto;

  /* border: 2px solid black; */
}

#monthly-charts::-webkit-scrollbar {
  display: none;
}

div.notes {
  box-sizing: border-box;
  height: 28vh;
  width: 35vw;
  position: absolute;
  bottom: 5vh;
  overflow: auto;

  /* border: 2px solid black; */
}

div.notes::-webkit-scrollbar {
  display: none;
}

#monthly-checks {
  box-sizing: border-box;
  min-height: 10vh;
  max-height: 10vh;
  width: 32vw;
  position: absolute;
  left: 47vw;
  top: 19vh;
  overflow: auto;

  /* border: 2px solid black; */
}

section#monthly-checks::-webkit-scrollbar {
  display: none;
}

.check {
  margin-top: 0.8vh;
  margin-left: 0.05vw;
  margin-right: 0.05vw;
  margin-bottom: 0.2vh;
}

.tracking-boxes {
  margin-left: 0.4vw;
}

.tracker-header {
  position: absolute;
  left: 59vw;
  bottom: 60vh;
}

/* All styling necessary for the conext menu end */

/* More styling for daily-log start */

section.trackers::-webkit-scrollbar {
  display: none;
}

div.daily section.trackers {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  width: 96%;
  height: 23vh;
  overflow: auto;
  padding-left: 2%;
  padding-bottom: 1.5vh;
  margin-bottom: 1.5vw;
}

div.daily section.trackers h2 {
  grid-area: header;
}

div.tracker {
  width: 100%;
  display: grid;
  grid-template-areas: "name input";
  align-content: center;
}

div.tracker h3 {
  margin-left: 2.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.numInput {
  height: 2.5vh;
  width: 14.5vw;
  align-self: center;
  justify-self: end;
  margin-right: 3.2vw;
}

#Exercise {
  align-self: center;
  justify-self: end;
  margin-right: 3.2vw;
}

div.tracker h3 {
  font-size: 1.5vw;
  display: inline-block;
  width: 15vw;
}

.slider-div {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 2vw;
  justify-self: end;
  padding-right: 3vw;
}

.slider {
  width: 12.5vw;
}

div.daily section[id$="00"] {
  display: inline-block;
  max-height: 25vh;
  overflow: auto;
}

/* More styling for daily-log end */

/* Styling for Yearly-Element start */

/* Sets up the grid areas for the entire yearly div */
.yearly {
  grid-template-areas:

    "header header"
    "calendar goals"
    "notes notes";
  grid-template-columns: 25vw 45vw;
  column-gap: 1vw;
}

/* assigns the #yearly-header to occupy the entire first row */

#yearly-header {
  grid-area: header;
  margin-bottom: 4vh;
}

/* Assigns #yearly-calendar to be in the second row, first column
  Also sets up the grid template for the buttons in the calendar
*/

#yearly-calendar {
  grid-area: calendar;
  border: 2px solid black;
  height: 20vh;
  border-radius: 25px;
  display: inline-grid;
  grid-template-columns: repeat(4, 23.5% [col-start]);
  padding-top: 1.25vh;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  row-gap: 0.25vh;
  column-gap: 0.5vw;
  grid-template-areas:

    "jan feb mar apr"
    "may jun jul aug"
    "sep oct nov dec";
}

/* Styling of the month buttons for the #yearly-calendar */

#yearly-calendar button {
  height: 5vh;
  width: 100%;
  border-radius: 10px;
  font-size: 1.25vw;
  border: 0.5px solid black;
  padding-top: 0.5px;
  background-color: rgb(250, 248, 248);
}

/* Styling of the month buttons for the #yearly-calendar on hover
  - color will change
  - cursor will also change
*/

#yearly-calendar button:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

/* Assigns the goals section in to the first row, second column */

div.yearly section[id$="00"] {
  grid-area: goals;
  display: inline;
  height: 20.65vh;
  font-size: 1.5vw;
  overflow: auto;
}

/* Assigns the notes section to the bottom row */

div.yearly section[id$="01"] {
  grid-area: notes;
  margin-top: 2vh;
  display: inline-block;
  font-size: 1.5vw;
}

/* Adding a scrollbar for overflow in the yearly goals section */

div.yearly section[id$="00"]::-webkit-scrollbar {
  display: none;
}

/* Styling for Yearly-Element end */

/* scrollbar for daily reminders is going here bc the linter is being picky */

div.daily section[id$="00"]::-webkit-scrollbar {
  display: none;
}
